:root {
    --clr-bg: #F9FAFA;
    --clr-bg-nav: #D7DADA;
}

hr {
    margin-top: -8px;
}

h2 {
    font-variant: small-caps;
}

textarea {
    resize: none;
}

.controller-table {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 1em;
}

.controller-table td {
 /* background: #0004; */
    width: 7ch;
    height: 5ch;
}

.controller-table td:hover {
    background: #0002;
}

.info-table th {
    vertical-align: text-top;
    text-align: right;
    padding-right: 10px;
}

.tool-table tr {
    vertical-align: text-top;
}

.local-bg {
    background: var(--clr-bg);
}

.local-bg-nav {
    background: var(--clr-bg-nav);
}

.local-nav-fade {
    background: linear-gradient(var(--clr-bg-nav) 0%, var(--clr-bg) 100%);
}

.local-hex-output {
    text-align: center;
    font-family: monospace;
    max-width: 13ch;
}

.local-hex-output-128 {
    text-align: center;
    font-family: monospace;
    max-width: 35ch;
    min-width: 37ch;
}

.local-hex-output-long {
    text-align: center;
    font-family: monospace;
    max-width: 21ch;
}

.local-hex-output-short {
    text-align: center;
    font-family: monospace;
    max-width: 9ch;
}

.local-hex-output-three {
    text-align: center;
    font-family: monospace;
    max-width: 11ch;
}

.local-output-number {
    text-align: center;
    max-width: 8ch;
}

.local-output-4x6-key {
    text-align: center;
    font-family: monospace;
    max-width: 26ch;
    min-width: 26ch;
}

.local-textinput {
    height: 20em;
}

.local-pic-input {
    vertical-align: text-top;
    font-family: monospace;
    overflow: hidden;
    line-height: 1em;
    max-width: 35ch;
 /* min-width: 35ch; */
    height: 14em;
}

.local-min {
    width: 0px;
}
